In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Not every CSV requires an encoding, but be aware this can come up
US_Daily_2017_df = pd.read_csv("Resources/2017-daily-us-charts.csv")

In [3]:
# Show just the header
US_Daily_2017_df.head()

,Date,Position,Track Name,Artist,Streams,ID
0,12/31/2017,1,rockstar,Post Malone,1530210,7wGoVu4Dady5GV0Sv4UIsx
1,12/31/2017,2,No Limit,G-Eazy,1016584,2DQ1ITjI0YoLFzuADN1ZBW
2,12/31/2017,3,Bartier Cardi (feat. 21 Savage),Cardi B,950886,75FDPwaULRdYDn4StFN2rT
3,12/31/2017,4,I Fall Apart,Post Malone,939975,75ZvA4QfFiZvzhj2xkaWAh
4,12/31/2017,5,Gucci Gang,Lil Pump,884672,43ZyHQITOjhciSUUNPVRHc

In [4]:
Deaths_df = pd.read_csv("Resources/2017 Musician Deaths (Wiki).csv")
Deaths_df

              Artist             Name  Age        Death
0     Manic Hispanic     Mike Gaborno    51    1/4/2017
1        Fanny Adams      Johnny Dick    73    1/6/2017
2       The Contours  Sylvester Potts    78    1/6/2017
3     Sons of Hawaii      Eddie Kamae    89    1/7/2017
4    Czerwone Gitary    Jerzy Kossela    74    1/7/2017
..               ...              ...   ...         ...
163        Sanctuary      Warrel Dane    56  12/13/2017
164  Michael Prophet  Michael Prophet    60  12/16/2017
165   Richard Dobson   Richard Dobson    75  12/16/2017
166   Kevin Mahogany   Kevin Mahogany    59  12/17/2017
167           Shinee    Kim Jong-hyun    27  12/18/2017

[168 rows x 4 columns]

In [5]:
merged_df = pd.merge(Deaths_df, US_Daily_2017_df, how="left", on=["Artist", "Artist"])
merged_df

,Artist,Name,Age,Death,Date,Position,Track Name,Streams,ID
0,Manic Hispanic,Mike Gaborno,51,1/4/2017,NaN,NaN,NaN,NaN,NaN
1,Fanny Adams,Johnny Dick,73,1/6/2017,NaN,NaN,NaN,NaN,NaN
2,The Contours,Sylvester Potts,78,1/6/2017,NaN,NaN,NaN,NaN,NaN
3,Sons of Hawaii,Eddie Kamae,89,1/7/2017,NaN,NaN,NaN,NaN,NaN
4,Czerwone Gitary,Jerzy Kossela,74,1/7/2017,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
437,Sanctuary,Warrel Dane,56,12/13/2017,NaN,NaN,NaN,NaN,NaN
438,Michael Prophet,Michael Prophet,60,12/16/2017,NaN,NaN,NaN,NaN,NaN
439,Richard Dobson,Richard Dobson,75,12/16/2017,NaN,NaN,NaN,NaN,NaN
440,Kevin Mahogany,Kevin Mahogany,59,12/17/2017,NaN,NaN,NaN,NaN,NaN
441,Shinee,Kim Jong-hyun,27,12/18/2017,NaN,NaN,NaN,NaN,NaN

In [6]:
drop_df = merged_df.dropna()
drop_df

,Artist,Name,Age,Death,Date,Position,Track Name,Streams,ID
55,Chuck Berry,Chuck Berry,90,3/18/2017,12/26/2017,190.0,Run Rudolph Run - Single Version,172290.0,2pnPe4pJtq7689i5ydzvJJ
56,Chuck Berry,Chuck Berry,90,3/18/2017,12/25/2017,18.0,Run Rudolph Run - Single Version,867729.0,2pnPe4pJtq7689i5ydzvJJ
57,Chuck Berry,Chuck Berry,90,3/18/2017,12/24/2017,37.0,Run Rudolph Run - Single Version,572110.0,2pnPe4pJtq7689i5ydzvJJ
58,Chuck Berry,Chuck Berry,90,3/18/2017,12/23/2017,69.0,Run Rudolph Run - Single Version,426932.0,2pnPe4pJtq7689i5ydzvJJ
59,Chuck Berry,Chuck Berry,90,3/18/2017,12/22/2017,84.0,Run Rudolph Run - Single Version,391994.0,2pnPe4pJtq7689i5ydzvJJ
...,...,...,...,...,...,...,...,...,...
414,Lil Peep,Lil Peep,21,11/17/2017,11/16/2017,165.0,U Said,203186.0,44Gw1IvWT75LCsRn69YBN6
415,Lil Peep,Lil Peep,21,11/17/2017,11/16/2017,186.0,Beamer Boy,191092.0,7hf89cT5FEmLV5E9fjrjG7
416,Lil Peep,Lil Peep,21,11/17/2017,11/16/2017,195.0,The Brightside,183954.0,78lnjdOMEO3dJuHRy9nDJL
417,AC/DC,Malcolm Young,64,11/18/2017,10/31/2017,76.0,Highway to Hell,343613.0,2zYzyRzz6pRmhPzyfMEC8s
418,AC/DC,Malcolm Young,64,11/18/2017,1/1/2017,135.0,You Shook Me All Night Long,178791.0,2SiXAy7TuUkycRVbbWDEpo

In [7]:
drop_df.to_csv("Resources/Cleaned Death.csv",encoding="utf-8", index=False, header=True)

In [14]:
drop_columns_df = drop_df.drop(columns=['Age ','Position','Track Name', 'ID'])
drop_columns_df

          Artist           Name       Death        Date   Streams
55   Chuck Berry    Chuck Berry   3/18/2017  12/26/2017  172290.0
56   Chuck Berry    Chuck Berry   3/18/2017  12/25/2017  867729.0
57   Chuck Berry    Chuck Berry   3/18/2017  12/24/2017  572110.0
58   Chuck Berry    Chuck Berry   3/18/2017  12/23/2017  426932.0
59   Chuck Berry    Chuck Berry   3/18/2017  12/22/2017  391994.0
..           ...            ...         ...         ...       ...
414     Lil Peep       Lil Peep  11/17/2017  11/16/2017  203186.0
415     Lil Peep       Lil Peep  11/17/2017  11/16/2017  191092.0
416     Lil Peep       Lil Peep  11/17/2017  11/16/2017  183954.0
417        AC/DC  Malcolm Young  11/18/2017  10/31/2017  343613.0
418        AC/DC  Malcolm Young  11/18/2017    1/1/2017  178791.0

[280 rows x 5 columns]

In [16]:
# streams_sum = drop_columns_df.groupby(["Artist", "Date"])
# streams_sum.aggregate(np.sum)